body{
  margin: 50px;
}
img{
  height:130px ;
  width:130;
}
hr{
  border: 1px dashed deeppink;
}
.a1{
  text-align:right;
  float: right;
}
.b{
  font-style: italic;
  color: deeppink;
  text-decoration: underline;
}
.c{
  display: flex;
}
.c1{
  margin-left: 100px;
}
